<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= simple_form_for @note do |f| %>
  <%= f.input :notetitle %>
  <%= f.input :notetext %>
  <%= f.input :username, :as => :hidden, :input_html => {:value => "demo"}%>
  <%= f.button :submit %>
  <% end %>
<% end %>
