

<div class='text-center'>
<h1>Register New User</h1>
<%= simple_form_for :user do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :phonenumber %>
  
  <%= f.button :submit %>
<% end %>
</div>