<html>
<head>
	<%-# font for the h1 tag -%>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Faster+One" %>
	
	<%-# the page font and button font -%>
	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Quicksand" %>
	
	<%-# link the CSS stylesheet to the page -%>
	<%= stylesheet_link_tag "/index_page_Style.css" %>
</head>
    
<div class="topnav">
  <p><%= link_to 'Login', users_index_path %></p>
  <p><%= link_to 'About Us', pages_about_us_path %></p>
  <p><%= link_to 'Notes', pages_edit_sticky_path %></p>
  <p class="active"><%= link_to 'Home', pages_index_path %></p>
</div>

<h1>Plan.It</h1>
<h2>All Your Notes</h2>
<h3>in one place!</h3>

<button class="button"><span> Sign Up </span></button>

<picture2>
<%= image_tag("/images/Resized ScreenShot.png", :alt => "Plan.It", :height => "235", :width=> "461.0") %>
</picture2>	

<picture3>
<%= image_tag("/images/mac.png", :alt => "Laptop", :height => "500", :width=> "659.86") %>
</picture3>



</html>